{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
        Search and Buy your favourite products.
{% endblock %}
{% block title %}
        Search
{% endblock %}
{% block content %}
<div>
        <p class="text-center my_search_text">Your have Searched : <b>"{{query}}"</b></p>
</div>
<div class="container">
    <div class="row mx-auto">
        {% for product in products %}
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 mb-4">
            <div class="card text-center" style="min-width:18rem;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.img.url}}" alt="{{product.name}}"></a>
                <div class=" card-body pt-3 shadow">
                    <h1 class="text-center my_title">{{product.name}}</h1>
                    <h1 class="text-center my_title">INR {{product.price}}</h1>
                </div>
            </div>
        </div>
    {% empty %}
    <div class="row mx-auto">
            <p class="text-center my_search_text">0 results</p>
    </div>
        {% endfor %}
    </div>
</div>
{% endblock %}